:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1280px;
}

// Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin reset-button {
  background: none;
  border: none;
  cursor: pointer;
}

@mixin flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//root Light Theme
:root {
  --border-color: #e5e5e5;
  --shadow-color: #00000063;
}


body.dark {
   --border-color: #ff0000;
}
