@import './variables.scss';

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  padding: 120px;
}

// FONTS

@font-face {
  font-family: 'Montserrat-B';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

// root Light Theme
:root {
  --border-color: #e5e5e5;
  --shadow-color: #00000063;
}

body.dark {
   --border-color: #ff0000;
}



