@import './variables.scss';

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 120px;
}

// root Light Theme
:root {
  --border-color: #e5e5e5;
  --shadow-color: #00000063;
}



