// page.module.scss
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background: #ffffff;

  div {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
  }
}

.progressBar {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 9px;
  background: var(--violet-light);
  border-radius: 90px;
}

.title {
  font-size: 45px;
  font-family: "Nunito";
}
