@import '../../../app//styles/variables.scss';

.colorTaskRed {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.741);
}

.colorTaskGreen {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(1, 180, 1, 0.741);
}

.colorTaskBlue {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(1, 111, 207, 0.741);
}

// .colorTaskText {
//     color: red;
// }

.wrapperTitleTask {
    @include flex-center;
    gap: 20px
}

.titleTaskWrapper {
    @include flex-center;
    gap: 7px;
}