.wrapperLeftMenu {
    display: flex;
    gap: 50px;  
    flex-direction: column;
}

.leftMenuIcon {
    width: 40px;
}

.set {
    width: 45px;
}

.leftMenu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
    padding: 8px 10px 0 20px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    // height: 98%;
}
