// @import '../../../app/styles/globals.scss';

.wrapperLeftMenu {
    display: flex;
    gap: 50px;  
    flex-direction: column;
}

.leftMenuIcon {
    width: 40px;
}

.set {
    width: 45px;
}

.leftMenu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 0 13px;
    border-top: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    // box-shadow: 0 0 28px var(--shadow-color);
    border-radius: 10px;
    top: 34%;
    bottom: 51%;
    height: max-content;
}
